* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-page {
  display: none;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}
